%body.bg-gradient-primary.login-page
  .container
    .row.justify-content-center
      .col-xl-6.col-lg-6.col-md-9
        .card.o-hidden.border-0.shadow-lg.my-5.px-1
          .card-body.p-0
            .row
              .col-lg-12
                .p-5
                  .text-center
                    %h1.h4.text-gray-900.mb-4 Welcome!
                  = form_with model: resource, as: resource_name, url: session_path(resource_name), class: 'user' do |f|
                    .form-group
                      = f.email_field :email, id: 'exampleInputEmail', class: 'form-control form-control-user',"aria-describedby" => "emailHelp", placeholder: "Enter Email Address...", type: "email"
                    .form-group
                      = f.password_field :password, id: 'exampleInputPassword', class: 'form-control form-control-user', placeholder: "Password", type: "password"
                    .form-group
                      .custom-control.custom-checkbox.small
                        - if devise_mapping.rememberable?
                          = f.check_box :remember_me, class: 'custom-control-input', type: 'checkbox'
                          = f.label :remember_me, 'Ghi nhớ đăng nhập', class: 'custom-control-label'
                    = f.submit "Đăng nhập", class: 'btn btn-primary btn-user btn-block'
                  %hr/
                  .text-center
                    %a.small{:href => "forgot-password.html"} Quên mật khẩu?
                    -#= render "users/shared/links"