- content_for :content_header do
  .d-sm-flex.justify-content-between.mb-4
    .col-sm-6
      %h2.mb-0.text-gray-800 Đơn vị quản lý

- content_for :content_body do
  .row
    .col
      .card
        .card-body
          = form_with url: admin_operators_path, method: :get, local: true, class: 'mr-auto my-2 my-md-0 mw-100 navbar-search' do |f|
            .input-group
              = f.text_field :query, value: params[:query], class: 'form-control typeahead bg-light border-0 small', type: 'search', 'url-autocomplete': autocomplete_admin_operators_path, placeholder: 'Nhập từ khoá tìm kiếm theo: Tên'
              .input-group-append
                %button.btn.btn-primary{:type => "submit"}
                  %i.fas.fa-search.fa-sm
  .card
    .card-body
      .table-responsive.p-0
        %table.table.text-nowrap.table-hover
          %thead
            %tr
              %th Tên
              %th Mô tả thêm
              %th Logo
              %th
          %tbody
            - @operators.each do |operator|
              %tr
                %td.align-middle= operator.name
                %td.align-middle= truncate(operator.description, length: 90, separator: ' ')
                %td.align-middle= image_tag(operator.logo.url, class: 'img-thumbnail', style: 'width: 100px') if operator.logo.present?
                %td.align-middle.text-right
                  %a.btn.btn-outline-primary.btn-edit{href: edit_admin_operator_path(operator.id)}
                    %i.fas.fa-pencil-alt
                  -#- if policy(operator).destroy?
                  %a.btn.btn-outline-primary{href: admin_operator_path(operator.id), data: {method: 'delete', confirm: 'Bạn chắc chắn muốn xóa bản ghi này?'}}
                    %i.fas.fa-trash
      = render partial: 'shared/pagination', locals: { pagy: @pagy }

- content_for :content_footer do
  %footer.main-footer.main-footer-fixed
    .row
      .col-12
        = link_to 'Tạo mới', new_admin_operator_path, class: 'btn btn-primary'
