.row
  .col
    .card.shadow.mb-4
      %a.d-block.card-header.py-3{"aria-controls" => "collapseCardProductHigh1", "aria-expanded" => "true", "data-toggle" => "collapse", :href => "#collapseCardProductHigh1", :role => "button"}
        %h5.m-0.font-weight-bold.text-primary Thông tin khách hàng
      #collapseCardProductHigh1.collapse.show
        .card-body
          .gp-field-group
            .gp-field-group-body
              .row
                .col
                  .form-group
                    = f.label :project_id, 'Dự án'
                    = f.select :project_id, options_for_select(@projects, @project.id), {include_hidden: false, disabled: true}, { class: 'gp-select2 form-control', id: 'project', disabled: @is_disabled || f.object.id }
                    - f.object.errors.messages[:project_id].each do |error|
                      %span.invalid-feedback.custom-validation= error
                  .form-group
                    = f.label :level, 'Khối'
                    = f.select :level, options_for_select(constant_options(Constant::PRODUCT_LEVELS), @product.level), {disabled: @is_disabled}, { class: 'gp-select2 form-control', disabled: @is_disabled || f.object.id }
                    - f.object.errors.messages[:level].each do |error|
                      %span.invalid-feedback.custom-validation= error
                  .form-group
                    = f.label :code, 'Mã sản phẩm'
                    = f.text_field :code, class: 'form-control', disabled: @is_disabled || f.object.id
                    - f.object.errors.messages[:code].each do |error|
                      %span.invalid-feedback.custom-validation= error
                  .form-group
                    = f.label :subdivision_id, 'Phân khu'
                    = f.select :subdivision_id, options_for_select(@subdivisions, @product.subdivision_id), {include_blank: true}, { class: 'gp-select2 form-control select2-subdivision', data: {'select-child-target': ['product_block_id', 'product_floor_id'], id: 'subdivision'}, disabled: @is_disabled || f.object.id }
                    - f.object.errors.messages[:subdivision_id].each do |error|
                      %span.invalid-feedback.custom-validation= error
                  .form-group
                    = f.label :block_id, 'Toà'
                    = f.select :block_id, options_for_select(@blocks, @product.block_id), {include_blank: true}, { class: 'gp-select2 form-control select2-block', data: {'select-child-target': ['product_floor_id'], id: 'floor'}, disabled: @is_disabled || f.object.id }
                    - f.object.errors.messages[:block_id].each do |error|
                      %span.invalid-feedback.custom-validation= error
                  .form-group
                    = f.label :floor_id, 'Tầng'
                    = f.select :floor_id, options_for_select(@floors, @product.floor_id), {include_blank: true}, { class: 'gp-select2 form-control', disabled: @is_disabled || f.object.id }
                    - f.object.errors.messages[:floor_id].each do |error|
                      %span.invalid-feedback.custom-validation= error
                  .form-group
                    = f.label :name, 'Mã Căn/Sàn'
                    = f.text_field :name, class: 'form-control', disabled: @is_disabled || f.object.id
                    - f.object.errors.messages[:name].each do |error|
                      %span.invalid-feedback.custom-validation= error
                  .form-group
                    = f.label :real_estate_type, 'Loại hình'
                    = f.select :real_estate_type, options_for_select(constant_options(Constant::PRODUCT_REAL_ESTATE_TYPES, @product.level), @product.real_estate_type), {include_blank: true}, { class: 'gp-select2 form-control', disabled: @is_disabled }
                    - f.object.errors.messages[:real_estate_type].each do |error|
                      %span.invalid-feedback.custom-validation= error
                  .form-group
                    = f.label :product_type, 'Loại sản phẩm'
                    = f.text_field :product_type, class: 'form-control', disabled: @is_disabled
                    - f.object.errors.messages[:product_type].each do |error|
                      %span.invalid-feedback.custom-validation= error
                  .form-group
                    = f.label :direction, 'Hướng ban công'
                    = f.select :direction, options_for_select(constant_options(Constant::PRODUCT_DIRECTIONS), @product.direction), {include_blank: true}, { class: 'gp-select2 form-control', disabled: @is_disabled }
                    - f.object.errors.messages[:direction].each do |error|
                      %span.invalid-feedback.custom-validation= error
                  .form-group
                    = f.label :built_up_area, 'Diện tích tim tường (m2)'
                    = f.number_field :built_up_area, class: 'form-control', disabled: @is_disabled
                    - f.object.errors.messages[:built_up_area].each do |error|
                      %span.invalid-feedback.custom-validation= error
                  .form-group
                    = f.label :carpet_area, 'Diện tích thông thuỷ (m2)'
                    = f.number_field :carpet_area, class: 'form-control', disabled: @is_disabled
                    - f.object.errors.messages[:carpet_area].each do |error|
                      %span.invalid-feedback.custom-validation= error
  .col
    .card.shadow.mb-4
      %a.d-block.card-header.py-3{"aria-controls" => "collapseCardProductHigh2", "aria-expanded" => "true", "data-toggle" => "collapse", :href => "#collapseCardProductHigh2", :role => "button"}
        %h5.m-0.font-weight-bold.text-primary Thông tin khách hàng
      #collapseCardProductHigh2.collapse.show
        .card-body
          .gp-field-group
            .gp-field-group-header
              %span Giá sản phẩm & phí dịch vụ
            .gp-field-group-body
              .row
                .col
                  .form-group
                    = f.label :currency, 'Đơn vị tiền tệ'
                    = f.select :currency, options_for_select(constant_options(Constant::PRODUCT_CURRENCIES), @product.currency), {include_blank: true}, { class: 'gp-select2 form-control', disabled: @is_disabled }
                    - f.object.errors.messages[:currency].each do |error|
                      %span.invalid-feedback.custom-validation= error
                  .form-group
                    = f.label :price, 'Đơn giá'
                    = f.text_field :price, class: 'form-control', 'data-type': 'currency', disabled: @is_disabled
                    - f.object.errors.messages[:price].each do |error|
                      %span.invalid-feedback.custom-validation= error
                  .form-group
                    = f.label :sum_price, 'Tổng giá trị sản phẩm'
                    = f.text_field :sum_price, class: 'form-control', 'data-type': 'currency', disabled: @is_disabled
                    - f.object.errors.messages[:sum_price].each do |error|
                      %span.invalid-feedback.custom-validation= error
                  .form-group
                    = f.label :deposit, 'Số tiền cọc (VNĐ)'
                    = f.text_field :deposit, class: 'form-control', 'data-type': 'currency', disabled: @is_disabled
                    - f.object.errors.messages[:deposit].each do |error|
                      %span.invalid-feedback.custom-validation= error
          .gp-field-group
            .gp-field-group-header
              %span Pháp lý sở hữu
            .gp-field-group-body
              .row
                .col
                  .form-group
                    = f.label :certificate, 'Hình thức sở hữu'
                    = f.select :certificate, options_for_select(constant_options(Constant::PRODUCT_CERTIFICATES), @product.certificate), {include_blank: true}, { class: 'gp-select2 form-control', disabled: @is_disabled }
                    - f.object.errors.messages[:certificate].each do |error|
                      %span.invalid-feedback.custom-validation= error
                  .form-group
                    = f.label :use_term, 'Thời hạn sở hữu'
                    = f.select :use_term, options_for_select(constant_options(Constant::PRODUCT_USE_TERMS), @product.use_term), {include_blank: true}, { class: 'gp-select2 form-control', disabled: @is_disabled}
                    - f.object.errors.messages[:use_term].each do |error|
                      %span.invalid-feedback.custom-validation= error
                  .gp-field-group
                    .gp-field-group-header
                      %span Tiêu chuẩn bàn giao
                    .gp-field-group-body
                      .row
                        .col
                          .form-group
                            = f.label :furniture, 'Tiêu chuẩn bàn giao'
                            = f.select :furniture, options_for_select(constant_options(Constant::PRODUCT_FURNITURES), @product.furniture), {include_blank: true}, { class: 'gp-select2 form-control', disabled: @is_disabled }
                            - f.object.errors.messages[:furniture].each do |error|
                              %span.invalid-feedback.custom-validation= error
                          .form-group
                            = f.label :furniture_quality, 'Chất lượng nội thất'
                            = f.select :furniture_quality, options_for_select(constant_options(Constant::PRODUCT_FURN_QUALITIES), @product.furniture_quality), {include_blank: true}, { class: 'gp-select2 form-control', disabled: @is_disabled }
                            - f.object.errors.messages[:furniture_quality].each do |error|
                              %span.invalid-feedback.custom-validation= error
                          .gp-field-group
                            .gp-field-group-header
                              %span
                                Hình ảnh
                                %span.required
                                  *
                            .gp-field-group-body
                              -if @product.present? && @product.images.present?
                                - @product&.images.each do |image|
                                  = hidden_field :product, :images, multiple: true, value: image.identifier, class: 'images-item', 'data-url': image.url, 'data-delete-url': @product.new_record? ? '' : destroy_attachment_admin_project_product_path(@project, @product)
                                = f.hidden_field :images_cache
                              .row
                                .col.form-group
                                  .file-loading
                                    = f.file_field :images, multiple: true, id: 'product-images-input', 'data-browse-on-zone-click': true, 'data-show-upload': false, 'data-show-caption': true, 'data-msg-placeholder': 'Chọn file', disabled: @is_disabled
                                    - f.object.errors.messages[:images].each do |image_error|
                                      %span.invalid-feedback.custom-validation= image_error